In [1]:
import pandas as pd
import numpy as np
import os
from scipy import misc
import matplotlib.pyplot as plt

In [2]:
os.chdir("C:\\Users\\Lenovo\\Videos\\maktabvideo\\edx_python_DataSince\\Data\\ml-20m")

In [3]:
!type ./movies.csv | wc -l

The syntax of the command is incorrect.
'wc' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
!head -5 ./movies.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
movies = pd.read_csv("./movies.csv" , sep=",")
movies.head(6)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller

In [6]:
tags = pd.read_csv("./tags.csv" , sep=",")
tags.head(6)

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078
5      65      668      bollywood  1368149876

In [7]:
ratings = pd.read_csv("./ratings.csv" , sep=",")
ratings.head(46)

    userId  movieId  rating   timestamp
0        1        2     3.5  1112486027
1        1       29     3.5  1112484676
2        1       32     3.5  1112484819
3        1       47     3.5  1112484727
4        1       50     3.5  1112484580
5        1      112     3.5  1094785740
6        1      151     4.0  1094785734
7        1      223     4.0  1112485573
8        1      253     4.0  1112484940
9        1      260     4.0  1112484826
10       1      293     4.0  1112484703
11       1      296     4.0  1112484767
12       1      318     4.0  1112484798
13       1      337     3.5  1094785709
14       1      367     3.5  1112485980
15       1      541     4.0  1112484603
16       1      589     3.5  1112485557
17       1      593     3.5  1112484661
18       1      653     3.0  1094785691
19       1      919     3.5  1094785621
20       1      924     3.5  1094785598
21       1     1009     3.5  1112486013
22       1     1036     4.0  1112485480
23       1     1079     4.0  1094785665
24       1     1080     3.5  1112485375
25       1     1089     3.5  1112484669
26       1     1090     4.0  1112485453
27       1     1097     4.0  1112485701
28       1     1136     3.5  1112484609
29       1     1193     3.5  1112484690
30       1     1196     4.5  1112484742
31       1     1198     4.5  1112484624
32       1     1200     4.0  1112484560
33       1     1201     3.0  1112484642
34       1     1208     3.5  1112484815
35       1     1214     4.0  1094785977
36       1     1215     4.0  1094786082
37       1     1217     3.5  1112484810
38       1     1219     4.0  1094785994
39       1     1222     3.5  1112484637
40       1     1240     4.0  1112485401
41       1     1243     3.0  1112485567
42       1     1246     3.5  1094785759
43       1     1249     4.0  1112485382
44       1     1258     4.0  1094785994
45       1     1259     4.0  1112485440

In [8]:
movies.shape

(27278, 3)

In [9]:
tags.isnull().any()  # it works on the columns

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [10]:
tags.dropna()        # it eliminate rows have null

,userId,movieId,tag,timestamp
0,18,4141,Mark Waters,1240597180
1,65,208,dark hero,1368150078
2,65,353,dark hero,1368150079
3,65,521,noir thriller,1368149983
4,65,592,dark hero,1368150078
5,65,668,bollywood,1368149876
6,65,898,screwball comedy,1368150160
7,65,1248,noir thriller,1368149983
8,65,1391,mars,1368150055
9,65,1617,neo-noir,1368150217
10,65,1694,jesus,1368149925
11,65,1783,noir thriller,1368149983
12,65,2022,jesus,1368149925
13,65,2193,dragon,1368151314
14,65,2353,conspiracy theory,1368151266
15,65,2662,mars,1368150055
16,65,2726,noir thriller,1368149983
17,65,2840,jesus,1368149925
18,65,3052,jesus,1368149926
19,65,5135,bollywood,1368149876
20,65,6539,treasure,1368149949
21,65,6874,dark hero,1368150079
22,65,7013,noir thriller,1368149983
23,65,7318,jesus,1368149925
24,65,8529,stranded,1368150012
25,65,8622,conspiracy theory,1368151266
26,65,27803,Oscar (Best Foreign Language Film),1305008715
27,65,27866,New Zealand,1304957153
28,65,48082,surreal,1304958354
29,65,48082,unusual,1304958359
...,...,...,...,...
465534,138436,81932,big hair,1298754654
465535,138436,81932,Mark Wahlberg,1298754636
465536,138436,81932,pigs,1298754658
465537,138436,81932,prostitution,1298754620
465538,138437,77154,"This movie should have been called ""How Cocain...",1357384633
465539,138446,317,Christmas,1358983914
465540,138446,317,funny,1358983914
465541,138446,317,Judge Reinhold,1358983914
465542,138446,317,Tim Allen,1358983914
465543,138446,317,whiny kid,1358983946
465544,138446,837,family friendly,1358983693
465545,138446,918,halloween scene,1358984062
465546,138446,918,quirky,1358984051
465547,138446,2396,topless scene,1358973995
465548,138446,3086,Christmas,1358983979
465549,138446,3086,classic,1358983979
465550,138446,3086,funny,1358983979
465551,138446,3086,scary,1358984001
465552,138446,3489,Peter Pan,1358983822
465553,138446,3489,soundtrack,1358983822
465554,138446,3489,visually appealing,1358983822
465555,138446,7045,family friendly,1358983660
465556,138446,7045,Scary Movies To See on Halloween,1358983660
465557,138446,7164,Peter Pan,1358983855
465558,138446,7164,visually appealing,1358983855
465559,138446,55999,dragged,1358983772
465560,138446,55999,Jason Bateman,1358983778
465561,138446,55999,quirky,1358983778
465562,138446,55999,sad,1358983772
465563,138472,923,rise to power,1194037967

In [11]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
is_animation = movies["genres"].str.contains("Animation")
movies[is_animation][0:2]

    movieId             title                                       genres
0         1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
12       13      Balto (1995)                 Adventure|Animation|Children

In [13]:
movies[is_animation]["genres"][0:10]

0          Adventure|Animation|Children|Comedy|Fantasy
12                        Adventure|Animation|Children
47            Animation|Children|Drama|Musical|Romance
236                  Animation|Children|Comedy|Romance
241                                 Animation|Children
310                                 Animation|Children
360    Adventure|Animation|Children|Drama|Musical|IMAX
388                                Adventure|Animation
547                 Animation|Children|Fantasy|Musical
553        Action|Adventure|Animation|Children|Fantasy
Name: genres, dtype: object

In [14]:
ratings.head(10)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826

In [15]:
movies.merge(tags, on = "movieId", how = 'inner').head(4)

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770

In [16]:
# as_index=False   leads that the moveId not use for rowsname and use as a colum 

avg_ratings = ratings.groupby("movieId",as_index=False).mean()
prefer = avg_ratings.merge(movies,on = "movieId", how = 'inner')
prefer.head()

,movieId,userId,rating,timestamp,title,genres
0,1,69282.396821,3.921240,1.052654e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,69169.928202,3.211977,1.037616e+09,Jumanji (1995),Adventure|Children|Fantasy
2,3,69072.079388,3.151040,9.596480e+08,Grumpier Old Men (1995),Comedy|Romance
3,4,69652.913280,2.861393,9.242144e+08,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,69113.475454,3.064592,9.620161e+08,Father of the Bride Part II (1995),Comedy

In [17]:
indexes = prefer["rating"] > 4.6

In [18]:
prefer[indexes]

,movieId,userId,rating,timestamp,title,genres
3139,3226,56930.333333,4.666667,1.033332e+09,Hellhounds on My Trail (1999),Documentary
9005,26718,76495.000000,5.000000,1.332129e+09,Life On A String (Bian chang Bian Zou) (1991),Adventure|Drama|Fantasy|Musical
9557,27914,117718.000000,5.000000,1.409649e+09,"Hijacking Catastrophe: 9/11, Fear & the Sellin...",Documentary
9857,32230,27898.000000,5.000000,1.413995e+09,"Snow Queen, The (Lumikuningatar) (1986)",Children|Fantasy
10558,40404,36725.000000,5.000000,1.411454e+09,Al otro lado (2004),Drama
12005,54326,95614.000000,5.000000,1.233963e+09,"Sierra, La (2005)",Documentary
12281,56548,61816.333333,4.666667,1.256648e+09,All Passion Spent (1986),Drama
13015,62206,77154.500000,4.750000,1.223898e+09,Supermarket Woman (Sûpâ no onna) (1996),Comedy
14406,72235,114009.000000,5.000000,1.264334e+09,Between the Devil and the Deep Blue Sea (1995),Drama
14540,72866,93340.500000,4.750000,1.397590e+09,Sandra of a Thousand Delights (Vaghe stelle de...,Drama
14605,73139,45735.500000,4.750000,1.358667e+09,Out 1: Spectre (1974),Comedy|Drama|Thriller
15687,79866,8788.000000,5.000000,1.282329e+09,Schmatta: Rags to Riches to Rags (2009),Documentary
15994,81117,130622.000000,5.000000,1.287163e+09,"Moth, The (Cma) (1980)",Drama
16952,86055,27860.000000,5.000000,1.418941e+09,"Foster Brothers, The (Süt kardesler) (1976)",Comedy
17556,88488,30317.000000,5.000000,1.399737e+09,"Summer Wishes, Winter Dreams (1973)",Drama
17703,89133,29086.000000,5.000000,1.425168e+09,Boys (Drenge) (1977),Drama
18190,91211,111328.333333,4.666667,1.361226e+09,Echoes of the Rainbow (Sui yuet san tau) (2010),Comedy|Drama|Romance
18597,92783,88738.000000,5.000000,1.330411e+09,Latin Music USA (2009),Documentary|Musical
18629,92956,14440.000000,5.000000,1.329712e+09,Little Criminals (1995),Crime|Drama
18776,93707,135399.000000,5.000000,1.333093e+09,Prom Queen: The Marc Hall Story (2004),Comedy|Drama
18841,93967,135399.000000,5.000000,1.334517e+09,"Keeping the Promise (Sign of the Beaver, The) ...",Children|Drama
18934,94431,135399.000000,5.000000,1.336568e+09,"Ella Lola, a la Trilby (1898)",(no genres listed)
18964,94657,135399.000000,5.000000,1.337638e+09,"Turkish Dance, Ella Lola (1898)",(no genres listed)
18975,94681,103448.500000,4.750000,1.338001e+09,Boys Love (2006),Drama|Romance
18980,94737,135399.000000,5.000000,1.337821e+09,"Boys Diving, Honolulu (1901)",Documentary
19002,94806,62012.500000,4.750000,1.358058e+09,"Secrets of Jonathan Sperry, The (2008)",Drama
19031,94949,135399.000000,5.000000,1.339023e+09,Boy Meets Boy (2008),Romance
19040,94972,135399.000000,5.000000,1.339112e+09,"Best of Ernie and Bert, The (1988)",Children
19152,95517,135399.000000,5.000000,1.341366e+09,"Barchester Chronicles, The (1982)",Drama
19230,95837,70406.666667,4.666667,1.348955e+09,"Child's Christmas in Wales, A (1987)",Children|Drama
...,...,...,...,...,...,...
25848,126397,123352.000000,5.000000,1.422123e+09,The Encounter (2010),Children|Drama
25936,126945,28916.000000,5.000000,1.422623e+09,Small Roads (2011),(no genres listed)
25945,126963,65470.500000,4.750000,1.422669e+09,The Private Life of a Cat (1944),(no genres listed)
25993,127062,67247.333333,4.666667,1.425190e+09,The Lumière Brothers' First Films (1996),Documentary
26056,127256,71979.000000,5.000000,1.422740e+09,The Old Gun (1975),Drama|Thriller|War
26128,128093,34168.000000,5.000000,1.426231e+09,"Bo Burnham: Words, Words, Words (2010)",Comedy
26185,128506,59417.000000,5.000000,1.423833e+09,Rent-a-Cat (2012),Comedy|Drama
26266,128738,113228.000000,5.000000,1.424236e+09,Rigoletto (1993),Drama
26274,128830,69912.000000,4.666667,1.425682e+09,Plastic Bag (2009),Drama
26330,129034,11917.000000,5.000000,1.424658e+09,Serving Life (2011),Documentary
26331,129036,11917.000000,5.000000,1.424658e+09,People of the Wind (1976),Documentary
26340,129189,59417.000000,5.000000,1.424786e+09,The Sea That Thinks (2000),(no genres listed)
26347,129243,46072.000000,5.000000,1.424837e+09,Afstiros katallilo (2008),Comedy
26354,129293,52697.000000,5.000000,1.424899e+09,Bandaged (2009),Thriller
26355,129295,52697.000000,5.000000,1.424899e+09,A Gun for Jennifer (1997),Crime|Drama|Thriller
26358,129305,52697.000000,5.000000,1.424950e+09,Pretty Things (2001),Drama
26371,129352,52697.000000,5.000000,1.425077e+09,Freeheld (2007),Documentary
26411,129478,39214.000000,5.000000,1.425353e+09,A Blank on the Map (1971),Documentary
26416,129516,52697.000000,5.000000,1.425418e+09,Poison (1951),Comedy
26421,129526,52697.000000,5.000000,1.425421e+09,The Color of Milk (2004),Comedy|Drama
26423,129530,11917.000000,5.000000,1.425433e+09,Slingshot Hip Hop (2008),(no genres listed)
26452,129739,94007.500000,4.750000,1.425867e+09,Bogowie (2014),Drama
26453,129741,52697.000000,5.000000,1.425852e+09,Mutantes (2009),Documentary
26496,129905,134701.000000,5.000000,1.426268e+09,The Floating Castle (2012),Comedy|Drama
26557,130347,122319.000000,5.000000,1.426542e+09,Bill Hicks: Sane Man (1989),Comedy
26559,130351,68026.000000,5.000000,1.427603e+09,The Wrecking Crew (2008),Documentary
26621,130644,11406.000000,5.000000,1.427140e+09,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
26647,130970,77840.500000,4.750000,1.427446e+09,George Carlin: Life Is Worth Losing (2005),Comedy
26655,130996,31411.000000,5.000000,1.427552e+09,The Beautiful Story (1992),Adventure|Drama|Fantasy
26667,131050,79570.000000,5.000000,1.427651e+09,Stargate SG-1 Children of the Gods - Final Cut...,Adventure|Sci-Fi|Thriller

In [21]:
tags.head()

   userId  movieId            tag   timestamp         parsed_time
0      18     4141    Mark Waters  1240597180 2009-04-24 18:19:40
1      65      208      dark hero  1368150078 2013-05-10 01:41:18
2      65      353      dark hero  1368150079 2013-05-10 01:41:19
3      65      521  noir thriller  1368149983 2013-05-10 01:39:43
4      65      592      dark hero  1368150078 2013-05-10 01:41:18

In [20]:
tags["parsed_time"] = pd.to_datetime(tags['timestamp'], unit='s')

In [23]:
tags.sort_values(by = "parsed_time", ascending=True)[0:10]

        userId  movieId              tag   timestamp         parsed_time
333932  100371     2788     monty python  1135429210 2005-12-24 13:00:10
333927  100371     1732    coen brothers  1135429236 2005-12-24 13:00:36
333924  100371     1206  stanley kubrick  1135429248 2005-12-24 13:00:48
333923  100371     1193   jack nicholson  1135429371 2005-12-24 13:02:51
333939  100371     5004    peter sellers  1135429399 2005-12-24 13:03:19
333922  100371       47   morgan freeman  1135429412 2005-12-24 13:03:32
333921  100371       47        brad pitt  1135429412 2005-12-24 13:03:32
333936  100371     4011        brad pitt  1135429431 2005-12-24 13:03:51
333937  100371     4011      guy ritchie  1135429431 2005-12-24 13:03:51
333920  100371       32     bruce willis  1135429442 2005-12-24 13:04:02